#mapid {
    border-radius: 15px;
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	overflow-y: auto;
	margin: auto;
    padding: 25px;
    padding-bottom: 40px;
	max-width: 1280px;
    background-color: white;
}

.top-buttons {
    position: absolute;
    z-index: 10000;
    top: 35px;
    right: 35px;
}

.bottom-buttons {
    position: absolute;
    z-index: 10000;
    right: 35px;
    bottom: 45px;
}

.leaflet-control-attribution {
    display: none;
}

#mapid {
    height: 100%;
    width: auto;
    background: #f0e68c;
}

.circle_text_container {
    position: relative;
}

.circle_text {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    color: black;
    font-size: 15px;
    text-shadow: 0px 0px 5px #ffffff;
}

.btn {
    font-size: 13px;
    background-color: inherit;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-factory {
    background-color: #0066B3;
}

.btn-home {
    background-color: #0A005A;
}

.btn-vacation {
    background-color: #67CA9D;
}

.btn-off {
    background-color: #8884D8;
}

.btn-quarantine {
    background-color: #53565A;
}

.btn-sick {
    background-color: #ED1C24;
}

.btn-infected {
    background-color: #000000;
}

.parsing-data{
    text-align: right;
    font-size: 80%;
    bottom: 10px;
    right: 10px;
}
    
.parsing-data span{
    font-weight: bold;
    font-size: 120%;
}